*.orig
*.rej
*~
.svn
*.elc
.git
.bzr
semantic.cache
CVS
\{arch\}
.arch-ids
TEMPLATE.cc.tpl 
TEMPLATE.cpp.tpl 
TEMPLATE.c++.tpl 
TEMPLATE.cxx.tpl 
TEMPLATE.hpp.tpl 
TEMPLATE.h++.tpl
emacs/info/dir.old
emacs/ecb/html-help/
emacs/ecb/info-help/
emacs/slime/doc/contributors.texi
emacs/cedet/*/*-compile-script
emacs/cedet/*/*-make-script
emacs/cedet/*/*.info
*.log
*-compile-script
*-make-script
emacs/cedet/semantic/doc/*.info
/emacs/cedet/*/*-loaddefs.el
/emacs/g-client/g-cus-load.el
/emacs/g-client/g-loaddefs.el
GPATH
GRTAGS
GSYMS
GTAGS

/emacs/cedet/test-p.el
/emacs/nxhtml/etc/schema/xhtml-loader.rnc
/rc/emacs-rc-local-alexott.el
/rc/emacs-rc-local-Alex-Otts-iMac.el
/rc/emacs-rc-local-aott.el
/rc/emacs-rc-local-flash2.el
